<div class="container" ng-controller="HeaderController as headerCtrl">
	<div class="navbar-header">
		<a href="/" class="navbar-brand"><%= appName %></a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" ng-if="headerCtrl.menu.shouldRender(headerCtrl.authentication.user);">
			<li ng-repeat="item in headerCtrl.menu.items | orderBy: 'position'" ng-if="item.shouldRender(headerCtrl.authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(headerCtrl.authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/{{subitem.link}}" ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/{{item.link}}" ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" ng-hide="headerCtrl.authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a ui-sref="signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a ui-sref="signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" ng-show="headerCtrl.authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" toggle="dropdown">
					<span ng-bind="headerCtrl.authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>