<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="<%= appName %>">
<head>
	<title>uruapp</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
	
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
</head>

<body class="ng-cloak">

	<div ui-view='header' class="navbar navbar-fixed-top navbar-inverse" ></div>
	<br/>
	<div ui-view='body'></div>


    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
    <script src="lib/angular-mocks/angular-mocks.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="lib/angular-ui-utils/ui-utils.js"></script>
	<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <!-- endbower -->


	<script type="text/javascript" src="appConfigFactory.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="modules/core/app.js"></script>
	<script type="text/javascript" src="modules/core/app.router.js"></script>
	<script type="text/javascript" src="modules/users/app.js"></script>
	<script type="text/javascript" src="modules/users/app.router.js"></script>
	<script type="text/javascript" src="modules/users/app.config.js"></script>


	<script type="text/javascript" src="modules/core/services/menusService.js"></script>
	<script type="text/javascript" src="modules/core/controllers/headerController.js"></script>
	<script type="text/javascript" src="modules/core/controllers/homeController.js"></script>


	<script type="text/javascript" src="modules/users/services/authenticationService.js"></script>
	<script type="text/javascript" src="modules/users/services/usersService.js"></script>
	<script type="text/javascript" src="modules/users/controllers/authenticationController.js"></script>
	<script type="text/javascript" src="modules/users/controllers/settingsController.js"></script>

</body>

</html>